.container {
    width: 100%;
    height: 260px;
    border: 1px solid red;
    display: block;
    &__logo {
        width: 33%;
        height: 45px;
        margin: 50px auto 0 auto;
        background-image: url(../assets/icons/big_logo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__nav-bar {
        width: 78%;
        height: 20px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #edeef1;
        border-radius: 50px;
        margin: 0 auto 5px auto;
    }
    &__nav-bar-serch img {
        width: 6px;
        height: 6px;
        margin: 6px 10px auto 5px;
    }
    &__nav-bar-box {
        width: auto;
        margin: 0 auto;
        border: none;
    }
    &__nav-bar-micro img {
        width: 10px;
        height: 10px;
        margin: 5px 5px 5px 5px;
    }
    &__buttoms {
        display: flex;
        justify-content: center;
        margin: 10px auto 10px auto;
    }
    &__language {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
