.container {
  width: 100%;
  height: 260px;
  border: 1px solid red;
  display: block;
}
.container__logo {
  width: 33%;
  height: 45px;
  margin: 50px auto 0 auto;
  background-image: url(../assets/icons/big_logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container__nav-bar {
  width: 78%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #edeef1;
  border-radius: 50px;
  margin: 0 auto 5px auto;
}
.container__nav-bar-serch img {
  width: 6px;
  height: 6px;
  margin: 6px 10px auto 5px;
}
.container__nav-bar-box {
  width: auto;
  margin: 0 auto;
  border: none;
}
.container__nav-bar-micro img {
  width: 10px;
  height: 10px;
  margin: 5px 5px 5px 5px;
}
.container__buttoms {
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
}
.container__language {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}