* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 0.5rem;
}
header .header__container {
  padding: 5px 5px 0 0;
}
header .header__container-list {
  list-style: none;
}
header .header__container-list a {
  margin: 3px;
  text-decoration: none;
  color: black;
}
header .menu {
  width: 5px;
  height: 5px;
}
header .profile-photo {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}