* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.header__container-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__container-menu img {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.header__container-list a {
  margin: 3px 10px 3px 10px;
  text-decoration: none;
  color: black;
}

.header__container-right {
  list-style: none;
  margin: 3px 15px;
}

.header__container-right a {
  margin-left: 10px;
}

.header__container-menu-right img {
  width: 18px;
  height: 18px;
}

.header__profile-photo {
  width: 18px;
  height: 18px;
}

.container {
  width: 100%;
  height: 309px;
  max-width: 800px;
  display: block;
}
.container__logo {
  width: 180px;
  height: 54px;
  margin: 80px auto 0 auto;
  background-image: url(../assets/icons/big_logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container__nav-bar {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dadce0;
  border-radius: 50px;
  margin: 25px auto 5px auto;
}
.container__nav-bar-serch img {
  width: 15px;
  height: 15px;
  margin: 12px 10px auto 9px;
}
.container__nav-bar-box {
  width: auto;
  margin: 0 auto;
  border: none;
}
.container__nav-bar-micro img {
  width: 17px;
  height: 17px;
  margin: 12px 9px 5px 5px;
}
.container__language {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px auto;
  font-size: 1.3rem;
}
.container__language a {
  color: #1967d2;
}

.country {
  width: 100%;
  height: 35px;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 1.6rem;
  background-color: #f2f2f2;
  color: grey;
}

.google__links {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
}
.google__links .google__links-left a {
  margin: 12px;
  font-size: 1.3rem;
  text-decoration: none;
  color: grey;
}

@media only screen and (min-width: 800px) {
  .container {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 300px) {
  header {
    min-width: 300px;
  }

  .container {
    min-width: 300px;
  }

  footer {
    min-width: 300px;
  }
}